<h1 class="about">About Blocipedia</h1>
<p class="about">Created by Rachel Colby</p>
<div class="about text">
  <p>Blocipedia is like Wikipedia except smaller, and you can make private wikis if you upgrade.</p>
  <p>That's all you need to know really. So sign up for Blocipedia today!</p>
</div>