<h1 class="about">About The Buzz</h1>
<p class="about">Created by Rachel Colby</p>
<div class="about text">
  <p>The Buzz is like a smaller, trendier version of Wikipedia where you can share knowledge about whatever's on your mind and read what everyone's buzzing about. Upgrade to make private wikis that only your friends can see.</p>
  <p>Sign up and see what everyone's buzzin' about!</p>
</div>