<div class="welcome-container">
  <h1 class="welcome-header">The Buzz</h1>
    <br>    
      <h2 class="slogan"><em>What everyone's buzzin' about!</em></h2>
    <br><br>    
    <%= link_to "SIGN UP TODAY!", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %> 
</div> 