<br>
 <div class="welcome-container">
    <h1 class="welcome-header">Blocipedia</h1>
      <br>    
        <h2 class="slogan"><em>because knowledge is power!</em></h2>
      <br><br>    
      <%= link_to "JOIN THE MOVEMENT - SIGN UP TODAY!", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %> 
 </div> 