<br>
<!-- <div class="container">
 -->  <div class="hello">
    <h1 class="welcome-header">Blocipedia</h1>
      <br>    
        <h2><em>because knowledge is power!</em></h2>
      <br>    <br>    <br>    <br>
    <p>
        <%= link_to "JOIN THE MOVEMENT - SIGN UP TODAY!", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %> 
    <p>
  </div>
<!-- </div>  -->