// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  text-align: center;
  font-weight: bold;
}

.hello {
  background-color: #CCFFF;
} 

h1 {
  color: #6600CC;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 120px;
}

h2 {
  color: #6600CC;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 90px;
}